body {
  margin: 0;
  font-size: 20pt;
  font-family: monospace;
}

editor-console {
  display: block;
  white-space: pre;
  user-select: none;
  overflow: auto;
}

editor-console:focus {
  outline: none;
}

body editor-console {
  height: 100%;
}
